// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #f9f871;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$violet: #9BA2FF;
$beige-violet: #A499BE;
$light-caramel: #9E8576;
$medium-grey: #6e6e6e;
$light-beige-grey: #CDCDCD;
$coral-red: #D33F49;
$green-white: #DFF8EB;
$brick-red: #D16666;
$almond: #C6B7A4;
$swiss-coffee: #E2DDD7;
$red-cognac: #992A17;
$medium-dark-grey: #494949;
