<h1>Favourites page</h1>

<% @favourites.each do |favourite| %>
  <%= favourite.restaurant.name %>
  <%= favourite.bar.name %>
  <%= favourite.activity.name %>
  <%= link_to "Delete", favourite_path(favourite), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
