<%= render 'shared/banner' %>

<!-- <div class = "banner-home"> -->
  <div class="container home-page">
   <!--  <div class = "home-text">
      <!-- <h1>TurnUp</h1> -->
      <!-- <h3>Let us spoil you with options</h3> -->
   <!--  </div> -->
    <div class="form-row justify-content-center pt-4 ">
      <div div class="col-10">
        <!-- <div class = "card-home"> -->
          <%= form_tag pages_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search by city"
            %>
            <%= submit_tag "Start the fun!", class: "home-button" %>
          <% end %>
        <!-- </div> -->
      </div>
    </div>
  </div>
<!-- </div> -->


