<%= render 'shared/banner' %>

  <div class="container home-form">
    <div class="form-row justify-content-center">
      <div div class="col-6">
        <%= form_tag pages_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "City"
          %>
          <%= submit_tag "Search", class: "btn btn-primary mt-4" %>
        <% end %>
      </div>
    </div>
  </div>

