.item {
  height: 80px;
  display: flex;
  margin-bottom: 20px;
  border-radius: 5px;
}

.item h2{
  font-size: 14px;
}


#fave-card {
  background: #E2DDD7;
  padding: 20px 15px 20px 15px;
  border-radius: 5px;
  margin: 20px 15px 20px 15px;
}

.fave-img{
  height: 80px;
  margin: 0px;
  padding: 0px;
}

.fave-info{
  background-color: #F4F4F4;
  height: 80px;
  width: 100%;
  padding: 10px;
}

.fave-btn{
  background-color: #D33F49;
  padding: 6px;
  color: white;
  border-radius: 4px;
  text-decoration: none;

  &:hover {
      background: #992A17;
      text-decoration: none;
      color: white;
    }
}

.back-button {
  align: center;
  padding: 25px;
  display: flex;
  justify-content: center;
}
