
.main_card {
  // width: 420px;
  height: 630px;
  background: $gray;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
  position: relative;

}

.btn-star{
  height: 80px;
  color: $coral-red;
  padding-top: 10px;
}

.card-element {
  overflow: hidden;
  height: 142px;
  // background: $gray;
  background-image: linear-gradient(to left top, #ffffff, #fbfbfb, #f7f7f7, #f4f3f3, #f0efef);
  // box-shadow: 0px 0px 10px 0px #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 12px;
  border-radius: 4px;
  text-align: top;
  position: relative;
}

a {
  text-decoration: none !important;
}

.card-element-content {
  // background-image: image-url("restaurant-chef.png");
  // background-size: 100px;
  // background-repeat: no-repeat;
  height: 142px;
  padding: 12px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none!important;
}


.desc-margin {
  margin-bottom: 4px;
}

.card-element-top {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.bar-icon {
  // background-image: image-url("drinking.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  height: 60px;
  width: 60px;
  // box-shadow: 0px 0px 10px rgb(161, 143, 143);
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-icon {
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-icon {
  // background-image: image-url("activity-art.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  height: 60px;
  width: 60px;
  // border: 3px solid $coral-red;
  // box-shadow: 0px 0px 10px rgb(161, 143, 143);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .icon {
//   max-height: 100%;
// }

  // .restaurant_info {
  //   padding: 16px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;
  //   position: relative;
  // }

.btn-link {
    color: white;
    padding: 8px 24px;
    margin-right: 5px;
    border-radius: 4px;
    background: $coral-red;
    transition: background 0.3s ease;

    &:hover {
      color: #ef7381;
      background: white;
      text-decoration: none;
      border: solid;
    }
}


// img {
//   margin-right: 16px;
//   margin-top: 8px;
// }

.btn-red {
  // display: flex;
  // background-color: black;
  // color: white;
  // width: 100px;
  // padding: 8px 24px;
  // text-decoration: none;
  // margin: 4px;
  // // cursor: pointer;
  // border-radius: 5px;
  // justify-content: space-between;
  // text-align: center;
  // align-items: flex-end;
  // position: relative;
  background-color: $coral-red;
  border: none;
  color: white;
  padding: 8px 32px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;


  // &:hover {
  //   // text-decoration: none;
  //   // background-color: white;
  //   // color: black;
  //   // border: solid;
  //   color: white;
  //   background-color: $button-hover;
  //   text-decoration: none;
  // }
}

.btn-star {
  // background-image: image-url("star-64.png");
  border: none;
  background-color: $gray;
  // padding: 8px 32px;
  // margin: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  // border-radius: 50%;
  // animation: shake 5s ease-out;
  // animation-iteration-count: infinite;
}


// .material-icons.md-red:hover{
//   color: #ef7381;
//   // animation: shake 0.4s ease-out;
//   // cursor: pointer;
// }

.cover {
  object-fit: cover;
  width: 130px;
  height: 142px;
}


.main-card-icons{
  display: flex;
  justify-content: flex-start;
  color: #686767;
  // position: relative;
  font-size: 12px;
}

.budget{
  width: 50px;
}

.icon-margin {
  margin-right: 8px;
}

.card-element-top {
    margin-bottom: -12px;
}

#lock-rest {
  position: absolute;
  right: 25px;
  top: 207px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lock-bar {
  position: absolute;
  right: 25px;
  top: 362px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lock-activity {
  position: absolute;
  right: 25px;
  top: 515px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}


.shuffle-button {
  font-size: 18px;
  color: $white;
  padding: 8px 12px!important;
  animation: wiggle 4s 2s infinite;
}

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
