.item {
  height: 80px;
  display: flex;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #000000E6;
}

.item h2{
  font-size: 14px;
}


#fave-card {
  // width: 300px;
  background: #E2DDD7;
  padding: 20px 15px 20px 15px;
  border-radius: 5px;
  margin: 20px 15px 20px 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

// @media (max-width: 1000px){
// .item h2{
//     font-size: 10px;
//   }
//   }

.fave-img{
  height: 80px;
  margin: 0px;
  padding: 0px;
}

.fave-info{
  background-color: #F4F4F4;
  height: 80px;
  width: 100%;
  padding: 10px;
}

.fave-btn{
  background-color: #D33F49;
  padding: 6px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;

  &:hover {
      background: #992A17;
      text-decoration: none;
      color: white;
    }
}

.back-button {
  align: center;
  padding: 25px;
  display: flex;
  justify-content: center;
}

.fave-heart {
  color: #D33F49;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
