
.main_card {
  width: 420px;
  height: 630px;
  background: $swiss-coffee;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}


.card-element {
  overflow: hidden;
  height: 142px;
  background: rgb(247, 243, 239);
  // box-shadow: 0px 0px 15px 0px rgb(136, 136, 136);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 12px;
  border-radius: 2px;
  text-align: top;
}

.card-element-content {
  // background-image: image-url("restaurant-chef.png");
  // background-size: 100px;
  // background-repeat: no-repeat;
  height: 142px;
  padding: 12px;
  font-size: 11px;
}

.card-element-top {
  display: flex;
  justify-content: space-between;
}

.bar-icon {
  // background-image: image-url("drinking.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  height: 60px;
  width: 60px;
  // border: 3px solid $coral-red;
  box-shadow: 0px 0px 10px rgb(161, 143, 143);
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 246px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-icon {
  // background-image: image-url("restaurant-chef.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  height: 60px;
  width: 60px;
  // border: 3px solid $coral-red;
  box-shadow: 0px 0px 10px rgb(161, 143, 143);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 92px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-icon {
  // background-image: image-url("activity-art.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  height: 60px;
  width: 60px;
  // border: 3px solid $coral-red;
  box-shadow: 0px 0px 10px rgb(161, 143, 143);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 400px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .icon {
//   max-height: 100%;
// }

  // .restaurant_info {
  //   padding: 16px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;
  //   position: relative;
  // }

.btn-link {
    color: white;
    padding: 8px 24px;
    margin-right: 5px;
    border-radius: 4px;
    background: #fd3a69;
    transition: background 0.3s ease;

    &:hover {
      color: #ef7381;
      background: white;
      text-decoration: none;
      border: solid;
    }
}


// img {
//   margin-right: 16px;
//   margin-top: 8px;
// }

.btn-red {
  // display: flex;
  // background-color: black;
  // color: white;
  // width: 100px;
  // padding: 8px 24px;
  // text-decoration: none;
  // margin: 4px;
  // // cursor: pointer;
  // border-radius: 5px;
  // justify-content: space-between;
  // text-align: center;
  // align-items: flex-end;
  // position: relative;
  background-color: $coral-red;
  border: none;
  color: white;
  padding: 8px 32px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;


  &:hover {
    // text-decoration: none;
    // background-color: white;
    // color: black;
    // border: solid;
    color: white;
    background-color: $button-hover;
  text-decoration: none;
  }
}

.btn-star {
  // background-image: image-url("star-64.png");
  border: none;
  background-color: $swiss-coffee;
  // padding: 8px 32px;
  // margin: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  // border-radius: 50%;


  &:hover {
  // background-color: $coral-red;
  text-decoration: none;
  color: $button-hover;
  }
}


.cover {
  object-fit: cover;
  width: 160px;
  height: 160px;
}


.main-card-icons{
  display: flex;
  justify-content: space-around;
  color: $coral-red;
  position: relative;
}

.card-element-top {
    margin-bottom: -12px;
}

#lock-rest {
  height: 60px;
  width: 60px;
  // border: 3px solid $coral-red;
  box-shadow: 0px 0px 10px rgb(161, 143, 143);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 140px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lock-bar {
  height: 60px;
  width: 60px;
  // border: 3px solid $coral-red;
  box-shadow: 0px 0px 10px rgb(161, 143, 143);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 300px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lock-activity {
  height: 60px;
  width: 60px;
  // border: 3px solid $coral-red;
  box-shadow: 0px 0px 10px rgb(161, 143, 143);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 450px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locked {
  color: red;
}

