.material-icons.md-12 { font-size: 12px; }
.material-icons.md-15 { font-size: 15px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

.material-icons.md-red { color: $coral-red; }
.material-icons.md-grey { color: $medium-dark-grey; }
.material-icons.md-white { color: $white; }
.material-icons.md-swiss-coffee { color: $swiss-coffee; }
.material-icons.md-dark { color: #4e4e4e}

